.tm-flex {
    display: flex;
}
.tm-flex- {
    &between {
        .tm-flex;
        justify-content: space-between;
        align-items: center;
    }
    &start {
        .tm-flex;
        justify-content: flex-start;
        align-items: center;
    }
    &center {
        .tm-flex;
        justify-content: center;
        align-items: center;
    }
    
    &end {
        .tm-flex;
        justify-content: flex-end;
        align-items: center;
    }

}

.tm-pointer {
    cursor: pointer;
}

.tm-align-{
    &l {
        text-align: left;
    }
    &r {
        text-align: right;
    }
    &c {
        text-align: center;
    }
}

